# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [ ]:
#int, float, String, boolean

In [ ]:
a=55                 # a is variable & 55 value assigned to it and Datatype is int.

In [ ]:
b=99.55               #b is variable & 99.55 value assigned to variable and Datatype is float.

In [ ]:
c="Python for Datascience"     #c is variable & "Python for Datascience" value assigned to variable and Datatype is String.

In [ ]:
x=True
                                 # x and y is variable & True and False value assigned to variable Respectively and Datatype is Boolean.
y=False

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [ ]:
print(a)

51

In [ ]:
print(b)

Hello

In [ ]:
print(c)

[1, 'Two', 'Three', 4]

In [ ]:
print(x)
print(y)

True
False

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [ ]:
a=51
print(type(a))

<class 'int'>

In [ ]:
b="Hello"
print(type(b))

<class 'str'>

In [ ]:
c=[1,"Two","Three",4]
print(type(c))

<class 'list'>

In [ ]:
d=(1,"Hello",2,"55k")
print(type(d))

<class 'tuple'>

In [ ]:
x=True
print(type(x))
y=False
print(type(y))

<class 'bool'>
<class 'bool'>

In [ ]:
dict={"Fruit":"Apple"}
print(type(dict))

<class 'dict'>

In [ ]:
from os import XATTR_CREATE
d=XATTR_CREATE

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [ ]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [ ]:
#Variables:- variables are a reserved memory location to store values.
#We use variables with random name and value assign to it.
#Name to variables are given by coder or developer.Name of variables can be Anything.
#e.g a=4,Harry="Hi" -- So, a and Harry is variable and 4 and Hi is Value which is assign to variables.

In [ ]:
First_value=8
Second_value=5
result=First_value+Second_value
print(result)

13

In [ ]:
First_value=8
Second_value=5
result=First_value-Second_value
print(result)

3

In [ ]:
First_value=5
Second_value=3
result=First_value*Second_value
print(result)

15

In [ ]:
First_value=8
Second_value=2
result=First_value/Second_value
print(result)

4.0

## Example: Lists

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [ ]:
fruits[0]

'orange'

In [ ]:
fruits[1]

'apple'

In [ ]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [ ]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [ ]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [ ]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [ ]:
My_friends= ['Kushal', 'Himanshu', 'Somiya', 'Preet', 'Rajat', 'Vikas']

In [ ]:
My_friends[0]

'Kushal'

In [ ]:
My_friends[1]

'Himanshu'

In [ ]:
My_friends[-1]

'Vikas'

__Exercise 3 b)__ Print your list of names using different ranges

In [ ]:
My_friends[0:6]

['Kushal', 'Himanshu', 'Somiya', 'Preet', 'Rajat', 'Vikas']

In [ ]:
My_friends[0:3]

['Kushal', 'Himanshu', 'Somiya']

In [ ]:
My_friends[2:5]

['Somiya', 'Preet', 'Rajat']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [ ]:
len(My_friends)

6

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [ ]:
My_friends.append('Shubham')

__Exercise 4 c)__ Print the list. Does it look as expected?

In [ ]:
print(My_friends)

['Kushal', 'Himanshu', 'Somiya', 'Preet', 'Rajat', 'Vikas', 'Shubham']

In [ ]:
#yes, It look as expected.

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [ ]:
My_friends.insert(2,"Varun") #We have to use double quote in item otherwise We will get wrong output

In [ ]:
My_friends

['Kushal',
 'Himanshu',
 'Varun',
 'Somiya',
 'Preet',
 'Rajat',
 'Vikas',
 'Shubham',
 'Shubham']

__Exercise 4 e)__ Print the list. Does it look as expected?

In [ ]:
print(My_friends)

['Kushal', 'Himanshu', 'Varun', 'Somiya', 'Preet', 'Rajat', 'Vikas', 'Shubham', 'Shubham']

In [ ]:
#Yes,It look as expected

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [ ]:
My_friends.remove('Varun')

In [ ]:
My_friends

['Kushal', 'Himanshu', 'Somiya', 'Preet', 'Rajat', 'Vikas', 'Shubham']

__Exercise 4 g)__ Print the list. Does it look as expected?

In [ ]:
print(My_friends)

['Kushal', 'Himanshu', 'Somiya', 'Preet', 'Rajat', 'Vikas', 'Shubham']

In [ ]:
#Yes, It look as expected.

# Example: For loops

In [ ]:
fruits= ["oranges","apples"
,"pears"
,"bananas"
,"kiwi"
,"mangos"
,"grapess"]
for fruit in fruits:
    print(fruit)

oranges
apples
pears
bananas
kiwi
mangos
grapess

In [ ]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

orangess
appless
pearss
bananass
kiwis
mangoss
grapesss

__Exercise 5 a)__ Print each name in your list of names

In [1]:
names=["Abhishek","Bala","Dhananjay","Varun","Kushal","Himanshu","Somiya","Vikas"]
print(names)

['Abhishek', 'Bala', 'Dhananjay', 'Varun', 'Kushal', 'Himanshu', 'Somiya', 'Vikas']

__Exercise 5 b)__ Add a small change to each name in your list

In [ ]:
# Adding a suffix to each name
modified_names = [name + "_Indian" for name in names]

for modified_name in modified_names:
    print(modified_name)

Abhishek_Indian
Bala_Indian
Dhananjay_Indian
Varun_Indian
Kushal_Indian
Himanshu_Indian
Somiya_Indian
Vikas_Indian

# Example: Dictionaries

In [ ]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [ ]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [ ]:
capital = countries["denmark"]
print(capital)
capital = countries["norway"]
print(capital)

copenhagen
oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [ ]:
countries["India"] = "New delhi"
countries["Japan"] = "Tokyo"
countries["New Zeland"] = "Wellington"

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [ ]:
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'New delhi', 'Japan': 'Tokyo', 'New Zeland': 'Wellington'}

In [ ]:
#Yes,It look as expected

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [ ]:
countries["sweden"]="Malmo"

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

In [ ]:
print(countries)

{'sweden': 'Malmo', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'New delhi', 'Japan': 'Tokyo', 'New Zeland': 'Wellington'}

In [ ]:
#Yes,It look  as expected

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [ ]:
countries["sweden"]="Stockholm"
countries.pop("sweden")

'Stockholm'

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [ ]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'New delhi', 'Japan': 'Tokyo', 'New Zeland': 'Wellington'}

In [ ]:
#Yes,It look as expected

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [ ]:
countries["sweden"]="Stockholm"
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'New delhi', 'Japan': 'Tokyo', 'New Zeland': 'Wellington', 'sweden': 'Stockholm'}

In [ ]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo
Country: India, Capital: New delhi
Country: Japan, Capital: Tokyo
Country: New Zeland, Capital: Wellington
Country: sweden, Capital: Stockholm

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

SyntaxError: ignored

We will start with creating a function that can add two numbers.

In [ ]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [ ]:
add_two_numbers(1,2)

3

In [ ]:
add_two_numbers(5,20)

25

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [ ]:
def Difference_betn_numbers(number1, number2):
    result = number1 - number2
    return result

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [ ]:
Difference_betn_numbers(4, 3)

1

In [ ]:
Difference_betn_numbers(139493,8812988)

-8673495

In [ ]:
#Yes,It return expected results.

__Exercise 7 c)__ Create a function that can multiply two numbers

In [ ]:
def Multiply(number1, number2):
    result = number1 * number2
    return result

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [ ]:
Multiply(5, 40)

200

In [ ]:
Multiply(500, 799)

399500

In [ ]:
#Yes,It return the expected results.

__Exercise 7 e)__ Create a function that can divide two numbers

In [ ]:
def Divide(number1, number2):
    result = number1 / number2
    return result

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [ ]:
Divide(4,8)

0.5

In [ ]:
Divide(160,20)

8.0

In [ ]:
Divide(999,1099)

0.9090081892629663

In [ ]:
#Yes,It return the expected results.